# Default ignored files
/shelf/
/workspace.xml
/.idea

# Android build artifacts
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build output
app/build/

# Compiled class files
*.class

# Log files
*.log

# Android SDK
*.apk
*.aab
